#testimonails {
       width: 351px;
       height: 320px;
       border-radius: 10px;
       border: 1px solid #E5E7EB;
       padding: 30px;
       background: #FFF;
}

#top_of_testi {
       display: flex;
       justify-content: space-between;
       align-items: center;

}
#top_of_testi>img{
       width: 30px;
       height: 30px;
}

#content_testi {
       margin-top: 25px;
       width: 291px;
       color: #2D2E2E;
       font-family: Poppins;
       font-size: 18px;
       font-style: normal;
       font-weight: 400;
       line-height: normal;
}

#img_name {
       display: flex;
       justify-content: space-between;
}

#img_name>img {
       width: 105px !important;
       height: 105px !important;
       transform: translate(-20% ,0);
}

#name_class {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: left;
       transform: translate(-20% ,0);
}

#name_class>h1 {
       color: #000;
       font-family: Poppins;
       font-size: 25px;
       font-style: normal;
       font-weight: 600;
       line-height: 22px;
       /* 88% */
}

#name_class>h2 {
       color: #000;
       font-family: Poppins;
       font-size: 14px;
       font-style: normal;
       font-weight: 300;
       line-height: 15.5px;
       /* 110.714% */
}