.main_header_WTP {
       background: #202125;
       height: 50rem;
       width: 100%;
       padding: 12% 10%;
       /* background: url('./../../images_WTP/frontend.png'); */
       background-repeat: repeat;
       
       background-position: left;
       position: relative;
       }

.main_header_WTP>h1 {
       color: #FFF;
       font-family: Poppins;
       font-size: 3.75rem;
       font-style: normal;
       font-weight: 600;
       line-height: 119.5%;
       /* 4.48125rem */
       margin-bottom: 3rem;
}

.main_header_WTP>h1>span {
       color: #FFB000;
       font-family: Poppins;
       font-size: 3.75rem;
       font-style: normal;
       font-weight: 600;
       line-height: 119.5%;
}

.main_header_WTP>p {
       color: #E5E7EB;
       font-family: Inter;
       font-size: 1.75rem;
       font-style: normal;
       font-weight: 400;
       line-height: 137.523%;
       /* 2.40663rem */
       margin-bottom: 2rem;
       width: 60rem;
}

.btn_one {
       display: inline-flex;
       padding: 1.25rem 3.125rem;
       justify-content: center;
       align-items: center;
       gap: 0.625rem;
       border-radius: 0.625rem;
       background-color: #FFB000;
       border: 2px solid #FFB000;
       color: #FFF;
       font-family: Poppins;
       font-size: 1.5rem;
       font-style: normal;
       font-weight: 500;
       line-height: 137.523%;
       /* 2.06281rem */
       margin-right: 2rem;
}
.btn_two{
       display: inline-flex;
       padding: 1.25rem 3.125rem;
       justify-content: center;
       align-items: center;
       gap: 0.625rem;
       border-radius: 0.625rem;
       background-color: transparent;
       color: #FFB000;
       font-family: Poppins;
       border: 2px solid #FFB000;
       font-size: 1.5rem;
       font-style: normal;
       font-weight: 500;
       line-height: 137.523%;
       /* 2.06281rem */
}
/* .image{
       position: absolute;
       right: 0;
       bottom: 0;
} */
/* #top-view-image{
       top
} */
.im{
       top: 0;

}