.main_ITM {
       height: 87rem;
       width: 100%;
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       align-items: center;
}

.ITM {
       display: flex;
       flex-direction: column;
       justify-content: space-between;

       align-items: center;
       height: 32rem;
       width: 100%;

}

.ITM>h1 {
       color: #202125;
       font-family: Poppins;
       font-size: 2.5rem;
       font-style: normal;
       font-weight: 500;
       line-height: normal;
       position: relative;
}

.ITM>h1>span::after {
       /* border: 0px 5px 0px 0px solid yellow ; */
       position: absolute;
       content: "";
       height: 17px;
       width: 127px;
       background: rgba(255, 176, 0, 0.40);
       bottom: 5%;
       transform: translate(-100%, 0);
       /* border-bottom: 30px solid yellow; */
}

.media_post_ITM {
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding-left: 50px;
       width: 100%;
}
.map>div:nth-of-type(1){
       display: flex;
}
.map>h1 {
       position: relative;
       color: #202125;
       font-family: Poppins;
       font-size: 2.5rem;
       font-style: normal;
       font-weight: 500;
       line-height: normal;
}

.map>h1>span::after {
       /* border: 0px 5px 0px 0px solid yellow ; */
       position: absolute;
       content: "";
       height: 17px;
       width: 127px;
       background: rgba(255, 176, 0, 0.40);
       bottom: 5%;
       transform: translate(-100%, 0);
       /* border-bottom: 30px solid yellow; */
}

.map {
       width: 100%;
       height: 55rem;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
}

.map>div {
       height: 30rem;
       width: 80%;
}

.map_left {
       width: 50%;
       height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
}

.map_right {
       width: 50%;
       height: 100%;
}

.office_ITM>h1 {

       color: #FFB000;
       font-family: Poppins;
       font-size: 2.1875rem;
       font-style: normal;
       font-weight: 600;
       line-height: normal;
}

.office_ITM>p {
       width: 30rem;
       color: #202125;
       font-family: Poppins;
       font-size: 1.875rem;
       font-style: normal;
       font-weight: 400;
       line-height: normal;
}

.social_ITM>h1 {
       color: #FFB000;

       font-family: Poppins;
       font-size: 2.1875rem;
       font-style: normal;
       font-weight: 600;
       line-height: normal;
       margin-bottom: 1.5rem;
}
.social_logo_ITM>img{
       margin-right: 1rem;

}