#exploreThePrograms {
       margin: 0 10%;
       margin-bottom: 150px;
}


#heading_exploreThePrograms {
       padding: 100px;
       text-align: center;
}

#heading_exploreThePrograms h1 {
       position: relative;
       font-size: 40px;
       font-style: normal;
       font-weight: 500;
       line-height: normal;
}

#heading_exploreThePrograms h1 span::after {
       /* border: 0px 5px 0px 0px solid yellow ; */
       position: absolute;
       content: "";
       height: 17px;
       width: 200px;
       background: rgba(255, 176, 0, 0.40);
       bottom: 5%;
       transform: translate(-99%, 0);
       /* border-bottom: 30px solid yellow; */
}

#programs_exploreThePrograms {
       display: flex;
       justify-content: space-between;
}



/* ---------------------------------------------------------------------- */
.swiper {
       width: 100%;
       height: 100%;
}

.swiper-slide {
       text-align: center;
       font-size: 18px;
       background: #fff;

       /* Center slide text vertically */
       display: flex;
       justify-content: center;
       align-items: center;
}

.swiper-slide img {
       display: block;
       width: 100%;
       height: 100%;
       object-fit: cover;
}








@media (min-width: 1335px) and (max-width: 1550px) {
       #exploreThePrograms {
              margin: 0 4%;
              margin-bottom: 150px;
       }
}
@media (min-width: 1115px) and (max-width: 1335px) {
       #exploreThePrograms {
              margin: 0 4%;
              margin-bottom: 150px;
       }
      
}