.main_course_Details {
       width: 100%;
       height: 61rem;
       padding: 5% 10%;
       background: #202125;
       /* box-sizing: content-box; */
}

.conent_CD {
       width: 90%;
       /* margin: 10%; */
}

.features_CD {
       display: flex;
       justify-content: space-between;
       align-items: center;
}

.Certificates {
       padding: 20px 30px;
       width: 15.8125rem;
       height: 8.75rem;
       flex-shrink: 0;
       border-radius: 1.25rem;
       border: 2px solid rgba(0, 0, 0, 0.20);
       background: linear-gradient(154deg, rgba(121, 117, 131, 0.20) 5.35%, rgba(54, 53, 103, 0.20) 83.85%), rgba(49, 48, 54, 0.30);

}

.Certificates>h1 {
       color: #FFF;
       font-family: Poppins;
       font-size: 2.5rem;
       font-style: normal;
       font-weight: 700;
       line-height: 137.523%;
       /* 3.43806rem */
}

.Certificates>p {
       color: #E5E7EB;
       font-family: Poppins;
       font-size: 1.875rem;
       font-style: normal;
       font-weight: 300;
       line-height: 137.523%;
       /* 2.57856rem */
}

.ETE {
       padding: 20px 30px;
       width: 23rem;
       height: 8.75rem;
       flex-shrink: 0;
       border-radius: 1.25rem;
       border: 2px solid rgba(0, 0, 0, 0.20);
       background: linear-gradient(154deg, rgba(121, 117, 131, 0.20) 5.35%, rgba(54, 53, 103, 0.20) 83.85%), rgba(49, 48, 54, 0.30);

}

.ETE>h1 {
       color: #FFF;
       font-family: Poppins;
       font-size: 2.5rem;
       font-style: normal;
       font-weight: 700;
       line-height: 137.523%;
       /* 3.43806rem */
}


.ETE>p {
       color: #E5E7EB;
       font-family: Poppins;
       font-size: 1.875rem;
       font-style: normal;
       font-weight: 300;
       line-height: 137.523%;
       /* 2.57856rem */
}

.live_Hour {
       padding: 20px 30px;
       width: 24.875rem;
       height: 8.75rem;
       flex-shrink: 0;
       border-radius: 1.25rem;
       border: 2px solid rgba(0, 0, 0, 0.20);
       background: linear-gradient(154deg, rgba(121, 117, 131, 0.20) 5.35%, rgba(54, 53, 103, 0.20) 83.85%), rgba(49, 48, 54, 0.30);

}

.live_Hour>h1 {
       color: #FFF;
       font-family: Poppins;
       font-size: 2.5rem;
       font-style: normal;
       font-weight: 700;
       line-height: 137.523%;
       /* 3.43806rem */
}

.live_Hour>p {
       color: #E5E7EB;
       font-family: Poppins;
       font-size: 1.875rem;
       font-style: normal;
       font-weight: 300;
       line-height: 137.523%;
       /* 2.57856rem */
}

.details_CD {
       margin-top: 8rem;
       width: 100%;
       height: 34.375rem;
       flex-shrink: 0;
       border-radius: 1.25rem;
       border: 2px solid rgba(0, 0, 0, 0.20);
       background: linear-gradient(154deg, rgba(121, 117, 131, 0.20) 5.35%, rgba(54, 53, 103, 0.20) 83.85%), rgba(49, 48, 54, 0.30);

}

.top_details {
       width: 100%;
       height: 30%;
       padding: 4% 8%;
}

.top_details>p {
       color: #FFB000;
       /* text-align: center; */
       font-family: Poppins;
       font-size: 1.25rem;
       font-style: normal;
       font-weight: 400;
       line-height: 137.523%;
       /* 1.71906rem */
}

.top_details>h1 {
       color: #FFF;
       /* text-align: center; */
       font-family: Poppins;
       font-size: 2.8125rem;
       font-style: normal;
       font-weight: 600;
       line-height: 137.523%;
       /* 3.86781rem */
}

.bottom_details {
       width: 100%;
       height: 70%;
       padding: 4% 8%;
}
.bottom_details>h1{
       color: #FFB000;
       margin-top: 4rem;
/* text-align: center; */
font-family: Poppins;
font-size: 3.125rem;
font-style: normal;
font-weight: 600;
line-height: 137.523%; /* 4.29756rem */
}
.bottom_details>p{
       color: #AAAEB1;
/* text-align: center; */
font-family: Poppins;
font-size: 1.125rem;
font-style: normal;
font-weight: 500;
line-height: 137.523%; /* 1.54713rem */
}



.bottom_details>div{
       display: flex;
       align-items: center;
       justify-content: left;
}
.students_enrolled {
       width: 20.8125rem;
       height: 4.4375rem;
       flex-shrink: 0;
       border-radius: 0.625rem;
       border: 2px solid rgba(0, 0, 0, 0.20);
       background: linear-gradient(154deg, rgba(121, 117, 131, 0.20) 5.35%, rgba(54, 53, 103, 0.20) 83.85%), rgba(49, 48, 54, 0.30);
       padding: 20px;
       margin-right: 2rem;
}

.students_enrolled>h1 {
       color: #FFF;
       /* text-align: center; */
       font-family: Poppins;
       font-size: 1.25rem;
       font-style: normal;
       font-weight: 600;
       line-height: 137.523%;
       /* 1.71906rem */
       text-transform: capitalize;
}

.rating {
       width: 15.1875rem;
       height: 4.4375rem;
       flex-shrink: 0;
       border-radius: 0.625rem;
       border: 2px solid rgba(0, 0, 0, 0.20);
       background: linear-gradient(154deg, rgba(121, 117, 131, 0.20) 5.35%, rgba(54, 53, 103, 0.20) 83.85%), rgba(49, 48, 54, 0.30);
       padding: 20px;

}

.rating>h1 {
       color: #FFF;
       /* text-align: center; */
       font-family: Poppins;
       font-size: 1.25rem;
       font-style: normal;
       font-weight: 600;
       line-height: 137.523%;
       /* 1.71906rem */
       text-transform: capitalize;
}