#seePrograms_main {
       width: 300px;
       height: 314px;
       border-radius: 15px;
       border: 2px solid #E5E7EB;
       background: #FFF;
       text-align: center;
       /* padding: 20px 0px; */
       padding-top: 30px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-between;
       margin: 10%, 10%;
       transform: all ease 2s;
}
#seePrograms_main:hover{
       /* transition-delay: 0.3s; */
       background-color: #FFB000;
}

#seePrograms_main img {
       width: 104px;
       height: 102px;
       flex-shrink: 0;
}

#seePrograms_main h1 {
       margin: 20px;
       font-size: 30px;
       font-style: normal;
       font-weight: 600;
       line-height: normal;
       text-transform: capitalize;
}

#seePrograms_seePrograms {
       background: black;
       height: 79px;
       text-align: center;
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 0px 0px 15px 15px;
       background: #202125;
}

#seePrograms_seePrograms h2 {
       color: #FFF;
       font-family: Poppins;
       font-size: 20px;
       font-style: normal;
       font-weight: 500;
       line-height: normal;
}
@media (min-width: 1100px) and (max-width: 1335px) {
       
       #seePrograms_main   {
                     width: 250px;
              }
       
}