#course-finding-main-div {
  width: 100%;
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#course-finding-heading {
  color: #000;
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 130.5%;
  width: 798px;
  height: 104px;
  flex-shrink: 0;
  margin-bottom: 50px;
}
#course-finding-main-div button {
  width: 224px;
  height: 74px;
  flex-shrink: 0;
  border-radius:10px;
  background: #ffb000;
  border: none;
  outline: none;
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 137.523%;
}
