#main {
       display: flex;
       justify-content: space-between;
       height: 100px;
       align-items: center;
       background: #202125;

}

#left {
       margin-left: 100px;
}

#left h1 {
       color: white;
}

#left span {
       color: #FFB000;
}

#center_nav {
       width: 636px;
       display: flex;
       justify-content: space-around;
       color: white;
}

#center_nav a {
       color: white;
}

#right {
       margin-right: 2%;
       font-size: 18px;

}

#signup {
       margin-right: 30px;
       background-color: rgba(0, 0, 0, 0);
       border: none;
       font-size: 18px;
       color: white;
}

#registernow {
       background-color: rgba(0, 0, 0, 0);
       padding: 16px;
       border: 1px solid white;
       border-radius: 100px;
       font-size: 18px;
       color: white;
}









.toggle {
       display: none;
       cursor: pointer;
}

.bars {
       background: #999;
       display: inline-block;
       height: 2px;
       position: relative;
       width: 18px;
}

.bars::before,
.bars::after {
       background: #999;
       content: "";
       display: inline-block;
       height: 2px;
       position: absolute;
       width: 18px;
}

.bars::before {
       top: 5px;
}

.bars::after {
       top: -5px;
}

.toggle {
       order: 1;
}


@media (min-width: 760px) and (max-width: 1234px) {
       .toggle {
              display: block;
              margin-right: 20px;
              display: block;
              margin-right: 20px;
              position: absolute;
              right: 3rem;
       }

       #center_nav {
              display: flex;
              display: none;
              flex-direction: column;
              position: fixed;

              top: 100px;
              z-index: 2;
              width: 100%;
              background-color: #202125;
              justify-content: space-around;
              align-content: center;
              align-items: center;
              height: 20rem;
       }

       #right {
              margin-right: 8rem;
       }

       #signup,
       #registernow{
              font-size: 16px;
       }
       #center_nav.active{
              display: flex;
       }

}


@media (min-width:400px) and (max-width: 760px) {
   
       .toggle {
              display: block;
              margin-right: 20px;
              display: block;
              margin-right: 20px;
              position: absolute;
              right: 3rem;
       }

       #center_nav {
              display: flex;
              display: none;
              flex-direction: column;
              position: fixed;

              top: 254px;
              z-index: 2;
              width: 100%;
              background-color: #202125;
              justify-content: space-around;
              align-content: center;
              align-items: center;
              height: 20rem;
              transition: 0.3s ease-in-out;
       }

       #right {
              display: flex;
              display: none;
              flex-direction: column;
              position: fixed;
              top: 100px;
              z-index: 2;
              width: 100%;
              background-color: #202125;
              justify-content: space-around;
            
              align-items: center;
              height: 10rem;
              margin-right: 0;
              transition: 0.2s ease-in-out;
       }
       #signup{
              margin-right: 0;
       }
       #registernow{
              border: none;
              padding: 0;
       }
       #signup,
       #registernow{
              font-size: 16px;
       }

       #left{
              margin-left: 70px;
       }
       #center_nav.active{
              display: flex;
       }
       #right.active_btn{
              display: flex;
       }


}


@media (min-width: 0px) and (max-width:400px) {
       #left{
              margin-left: 30px;
       }

       .toggle {
              display: block;
              margin-right: 20px;
              display: block;
              margin-right: 20px;
              position: absolute;
              right: 3rem;
       }

       #center_nav {
              display: flex;
              flex-direction: column;
              position: fixed;
              display: none;

              top: 254px;
              z-index: 2;
              width: 100%;
              background-color: #202125;
              justify-content: space-around;
              align-content: center;
              align-items: center;
              height: 20rem;
              
       }

       #right {
              display: flex;
              display: none;
              flex-direction: column;
              position: fixed;
              top: 100px;
              z-index: 2;
              width: 100%;
              background-color: #202125;
              justify-content: space-around;
            
              align-items: center;
              height: 10rem;
              margin-right: 0;
       }
       #signup{
              margin-right: 0;
       }
     .toggle {
              display: block;
              margin-right: 20px;
              display: block;
              margin-right: 20px;
              position: absolute;
              right: 3rem;
       }

       #center_nav {
              display: flex;
              flex-direction: column;
              position: fixed;

              top: 254px;
              z-index: 2;
              width: 100%;
              background-color: #202125;
              justify-content: space-around;
              align-content: center;
              align-items: center;
              height: 20rem;
       }

       #right {
              display: flex;
              flex-direction: column;
              position: fixed;
              top: 100px;
              z-index: 2;
              width: 100%;
              background-color: #202125;
              justify-content: space-around;
            
              align-items: center;
              height: 10rem;
              margin-right: 0;
       }
       #signup{
              margin-right: 0;
       }
       #registernow{
              border: none;
              padding: 0;
       }
       #signup,
       #registernow{
              font-size: 16px;
       
              border: none;
              padding: 0;
       }
       #signup,
       #registernow{
              font-size: 16px;
       }
       #center_nav.active{
              display: flex;
       }
       #right.active_btn{
              display: flex;
       }


}

