#main_programsDetails {
       width: 440px;
       height: 591px;
       border-radius: 20px;
       padding:10px 20px;
       border: 2px solid rgba(0, 0, 0, 0.20);
       background: linear-gradient(154deg, rgba(121, 117, 131, 0.20) 5.35%, rgba(54, 53, 103, 0.20) 83.85%), rgba(49, 48, 54, 0.30);
       display: flex;
       justify-content: space-around;
       align-items: left;
       flex-direction: column;
       /* background: #202125; */
}

#main_programsDetails img {
       width: 400px;
       height: 284.932px;
}



#main_programsDetails h1 {
       color: #FFF;
       font-size: 30px;
       font-style: normal;
       font-weight: 600;
      
}

#main_programsDetails h2 {
       color: #FFF;
       font-size: 20px;
       font-style: normal;
       font-weight: 400;
}

#main_programsDetails button {
       
       width: 402px;
       height: 76px;
       flex-shrink: 0;
       border: none;
       border-radius: 18px;
       background: #33475B;
       color: #FFF;
       font-size: 24px;
       font-style: normal;
       font-weight: 600;
}