#main_hiring_partners
{
       position: relative;
       height: 140px;
       width: 100%;
       /* animation: anim 20sec linear infinite; */
       overflow: hidden;
}

#hiring_partners_display{
       margin-top: 40px;
       overflow: hidden;
       width: 200%;
       display: flex;
       justify-content: space-around;


       height: 60px;
       align-items: center;
       position: absolute;
       left: 50%;
       transform: translate(-50%,0);
       /* overflow: hidden; */
       animation: _slide_ 25s infinite;
       animation-timing-function: linear;
     }
   
     @keyframes _slide_ {
       0% {
         transform: translateX(-25%);
       }
       
       100% {
         transform: translateX(-75%);
       }
     }