.main_details_WTP {
       height: 340rem;
       width: 100%;
       text-align: center;
       display: flex;
       flex-direction: column;
       /* justify-content: space-between; */
       align-items: center;
}

.main_details_WTP>p {
       color: #FFB000;
       text-align: center;
       font-family: Poppins;
       font-size: 1.875rem;
       font-style: normal;
       font-weight: 600;
       line-height: 137.523%;
       /* 2.57856rem */
       text-transform: uppercase;
       margin-top: 5rem;
}

.main_details_WTP>h1 {
       color: #000;
       text-align: center;
       font-family: Poppins;
       font-size: 2.5rem;
       font-style: normal;
       font-weight: 500;
       line-height: 130.5%;
       /* 3.2625rem */
       margin-top: 1.5rem;
       margin-bottom: 4rem;
       position: relative;
}
.main_details_WTP>h1>span::after {
       /* border: 0px 5px 0px 0px solid yellow ; */
       position: absolute;
       content: "";
       height: 17px;
       width: 303px;
       background: rgba(255, 176, 0, 0.40);
       bottom: 5%;
       transform: translate(-100%, 0);
       /* border-bottom: 30px solid yellow; */
}


.div {
       width: 60%;
       padding: 100px 90px;
       display: flex;
       justify-content: center;
       align-items: center;
       position: relative;
}

.div>h1:nth-of-type(1) {
       position: absolute;
       width: 5.3125rem;
       height: 5.3125rem;
       flex-shrink: 0;
       background-color: #FFB000;
       border-radius: 50%;
       display: flex;
       justify-content: center;
       align-items: center;
       color: #FFF;
       text-align: center;
       font-family: SF Pro;
       font-size: 2.5rem;
       font-style: normal;
       font-weight: 590;
       line-height: 150%;
       /* 3.75rem */
}

.top_div {
       border-top: 3px solid #E5E7EB;
       border-top-left-radius: 50px;
}
.top_div>img:nth-last-of-type(1){
       position: absolute;
  width: 150px;
  top: 0;
  right: 0;
  transform: translate(50%,-50%);
  /* transform: translateX(50%); */
}

.top_div>h1,
.left_div>h1 {
       left: 0;
       z-index: 5;
       transform: translateX(-50%);
}

.bottom_div>h1,
.right_div>h1 {
       right: 0%;
       z-index: 5;
       transform: translateX(50%);
}

.top_div::before,
.left_div::after,
.left_div::before,
.top_div::after {
       position: absolute;
       width: 50%;
       height: 50%;
       content: "";

}

.top_div::before,
.left_div::before {
       top: -1%;
       left: 0;
       border-left: 3px solid #E5E7EB;
       border-top: 3px solid #E5E7EB;
       border-top-left-radius: 50px;
}

.top_div::after,
.left_div::after {
       left: 0%;
       bottom: 0;
       border-left: 3px solid #E5E7EB;
       border-bottom: 3px solid #E5E7EB;
       border-bottom-left-radius: 50px;
}

.right_div::before,
.bottom_div::before,
.bottom_div::after,
.right_div::after {
       position: absolute;
       width: 50%;
       height: 50%;
       content: "";
}

.bottom_div {
       border-bottom: 3px solid #E5E7EB;
       border-bottom-right-radius: 50px;
       margin-bottom: 140px;
}
.bottom_div>img:nth-last-of-type(1){
       position: absolute;
  width: 150px;
  bottom: 0;
  left: 0;
  transform: translate(-50%,50%);
  /* transform: translateX(50%); */
}

.right_div::before,
.bottom_div::before {
       top: -1%;
       right: 0;
       border-right: 3px solid #E5E7EB;
       border-top: 3px solid #E5E7EB;
       border-top-right-radius: 50px;
}

.right_div::after {
       right: 0%;
       bottom: 0;
       border-right: 3px solid #E5E7EB;
       border-bottom: 3px solid #E5E7EB;
       border-bottom-right-radius: 50px;
}

.bottom_div::after {
       right: 0%;
       bottom: -1%;
       border-right: 3px solid #E5E7EB;
       border-bottom: 3px solid #E5E7EB;
       border-bottom-right-radius: 50px;
}

.certificate_WTP {
       width: 80%;
}

.certificate_WTP>img {
       width: 80%;
       border-radius: 25px;
}

.certificate_WTP_content>h1 {
       color: #FFB000;
       font-family: Poppins;
       font-size: 1.875rem;
       font-style: normal;
       font-weight: 600;
       line-height: 137.523%;
       /* 2.57856rem */
       text-transform: uppercase;
       margin-bottom: 2rem;
}

.certificate_WTP_content>p {
       color: #000;
       font-family: Poppins;
       font-size: 1.875rem;
       font-style: normal;
       font-weight: 400;
       line-height: 148%;
       /* 2.775rem */
       margin-bottom: 2rem;
}
.mentors_bio{
       display: flex;
       justify-content: space-around;
       align-items: center;
       width: 100%;
}










#testimonails {
       width: 351px;
       height: 320px;
       border-radius: 10px;
       border: 1px solid #E5E7EB;
       padding: 30px;
       background: #FFF;
}

#top_of_testi {
       display: flex;
       justify-content: space-between;
       align-items: center;

}
#top_of_testi>img{
       width: 30px;
       height: 30px;
}

#content_testi {
       margin-top: 25px;
       width: 291px;
       color: #2D2E2E;
       font-family: Poppins;
       font-size: 18px;
       font-style: normal;
       font-weight: 400;
       line-height: normal;
}

#img_name {
       display: flex;
       justify-content: space-between;
}

#img_name>img {
       width: 105px !important;
       height: 105px !important;
       transform: translate(-20% ,0);
}

#name_class {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: left;
       transform: translate(-20% ,0);
}

#name_class>h1 {
       color: #000;
       font-family: Poppins;
       font-size: 25px;
       font-style: normal;
       font-weight: 600;
       line-height: 22px;
       /* 88% */
}

#name_class>h2 {
       color: #000;
       font-family: Poppins;
       font-size: 14px;
       font-style: normal;
       font-weight: 300;
       line-height: 15.5px;
       /* 110.714% */
}