.trust_The_Vsion {
       height: 62rem;
       width: 100%;
       position: relative;
       background: #202125;
       display: flex;
       justify-content: center;
       align-items: center;
}

.trust_The_Vsion>h1 {
       margin-top: 2rem;
       color: #FFF;
       font-family: Poppins;
       font-size: 2.5rem;
       font-style: normal;
       font-weight: 500;
       line-height: normal;
       position: relative;
}
.trust_The_Vsion>h1>span::after{
       /* border: 0px 5px 0px 0px solid yellow ; */
       position: absolute;
       content: "";
       height: 17px;
       width: 127px;
       background: rgba(255, 176, 0, 0.40);
       bottom: 5%;
       transform: translate(-100%,0);
       /* border-bottom: 30px solid yellow; */
}

.TTV_palcement {
       position: absolute;
       top: 21rem;
       left: 75rem;
       width: 24.875rem;
       height: 8.75rem;
       flex-shrink: 0;
       border-radius: 1.25rem;
       border: 2px solid rgba(0, 0, 0, 0.20);
       background: linear-gradient(154deg, rgba(121, 117, 131, 0.20) 5.35%, rgba(54, 53, 103, 0.20) 83.85%), rgba(49, 48, 54, 0.30);

}
.TTV_palcement>img{
       position: absolute;
       top: -1rem;
left: -8rem;
}

.TTV_palcement>div {

       color: white;
       margin-top: 20px;
       margin-left: 20px;
}

.TTV_palcement>div>h1 {
       color: #FFF;
       font-family: Poppins;
       font-size: 2.5rem;
       font-style: normal;
       font-weight: 700;
       line-height: 137.523%;
       /* 3.43806rem */
}


.TTV_palcement>div>h2 {
       color: #E5E7EB;
       font-family: Poppins;
       font-size: 1.875rem;
       font-style: normal;
       font-weight: 300;
       line-height: 137.523%;
       /* 2.57856rem */
}











.TTV_programs {
       position: absolute;
       top: 30rem;
       left: 25rem;
       width: 15rem;
       height: 8.75rem;
       flex-shrink: 0;
       flex-shrink: 0;
       border-radius: 1.25rem;
       border: 2px solid rgba(0, 0, 0, 0.20);
       background: linear-gradient(154deg, rgba(121, 117, 131, 0.20) 5.35%, rgba(54, 53, 103, 0.20) 83.85%), rgba(49, 48, 54, 0.30);

}
.TTV_programs>img{
       position: absolute;
       top: -2rem;
left: 15rem;
}
.TTV_programs>div {

       color: white;
       margin-top: 20px;
       margin-left: 20px;
}

.TTV_programs>div>h1 {
       color: #FFF;
       font-family: Poppins;
       font-size: 2.5rem;
       font-style: normal;
       font-weight: 700;
       line-height: 137.523%;
       /* 3.43806rem */
}

.TTV_programs>div>h2 {
       color: #E5E7EB;
       font-family: Poppins;
       font-size: 1.875rem;
       font-style: normal;
       font-weight: 300;
       line-height: 137.523%;
       /* 2.57856rem */
}








.TTV_partners {
       width: 18.4375rem;
       height: 8.75rem;
       flex-shrink: 0;
       border-radius: 1.25rem;
       border: 2px solid rgba(0, 0, 0, 0.20);
       background: linear-gradient(154deg, rgba(121, 117, 131, 0.20) 5.35%, rgba(54, 53, 103, 0.20) 83.85%), rgba(49, 48, 54, 0.30);
       position: absolute;
       top: 43rem;
       left: 50rem;

}
.TTV_partners>img{
       position: absolute;
       top: -6rem;
left: 19rem;
}

.TTV_partners>div {

       color: white;
       margin-top: 20px;
       margin-left: 20px;
}

.TTV_partners>div>h1 {
       color: #FFF;
       font-family: Poppins;
       font-size: 2.5rem;
       font-style: normal;
       font-weight: 700;
       line-height: 137.523%;
       /* 3.43806rem */
}

.TTV_partners>div>h2 {
       color: #E5E7EB;
       font-family: Poppins;
       font-size: 1.875rem;
       font-style: normal;
       font-weight: 300;
       line-height: 137.523%;
       /* 2.57856rem */
}