.main_MP {
       width: 25rem;
       height: 18.75rem;
       flex-shrink: 0;
       border-radius: 2.5rem;
       background: #FFF;
       box-shadow: 0px 0px 40px 0px #E5E7EB;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       padding: 0px 50px;
       padding-top: 40px;
       margin-left: 50px;
}

.main_MP>img {
       width: 10.4375rem;
       height: 4.375rem;
       flex-shrink: 0;
}

.main_MP>p {
       color: #000;
       text-align: center;
       font-family: Poppins;
       font-size: 1.25rem;
       font-style: normal;
       font-weight: 300;
       line-height: normal;
}