.background_aboutUs{
       height: 33rem;
       width: 100%;
       background: url(../../images_aboutUs/bakground.png);
       background-repeat: no-repeat;
       background-size: cover;
       position: relative;
}

.aboutus_img_top{
       
       /* background: linear-gradient(orange, transparent); */
       width: 9rem;
       height: 3rem;
       position: absolute;
       /* top: 1rem; */
       left: 50%;
       transform: translateX(-50%);
       display: flex;

}
.aboutus_img{
       background-color: orange;
       /* position: absolute;
       top: 1rem;
       left: 50%; */
       /* width: 3rem; */
       height: 3rem;
       
       border-radius: 0% 0% 50% 50%;
}
.aboutus_img_top>div{
       width: 3rem;
       height: 100%;
}
.background_aboutUs .aboutus_img>img{
       left: 50%;
       transform: translateX(-50%);
       position: absolute;
       /* background-color: orange; */
       bottom: 5px;
       
}

